.caseStudyContent .inline {
    display: flex;
}

.caseStudyContent dt {
    margin: 0 0 0 auto;
}

.caseStudyContent dd {
    margin-left: 10px;
}

.idevice_node.text .iDevice_buttons.feedback-button {
    margin-bottom: 1em;
}